body {
  background-color: khaki;
  font-family: fantasy;
  text-align: center;
}
h1{
  font-size: 30px;
}
img {
  width: 800px;
  height: 500px;
}
iframe {
  position: relative;
  top: -434px;
  z-index: 0;
}
p {
  position: relative;
  top: -380px;
  font-size: 20px;
}
