body {
  background-color: deepPink;
}
p {
  font-family: "Chalkduster", fantasy;
  font-size: 45px;
}
img {
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
